<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Navigations Test</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://http2.mlstatic.com/ui/navigation/4.4.4/mercadoshops/navigation.css">
    <script id="#hotreload">
        function init_autoupdate() {
            console.log('initializing hot reload');
            if (!window.__autoupdate) {
                window.__autoupdate = {};
                window.__autoupdate.socket = new WebSocket(window.location.href.replace(/(^http|^https)/, 'ws'));
                const parser = new DOMParser();
                window.__autoupdate.socket.onopen = () => console.log('hot reloading ready');

                window.__autoupdate.socket.onmessage = async message => {
                    window.location.reload()
                };

                window.__autoupdate.socket.onclose = e => {
                    console.log('Socket is closed. Reconnect will be attempted in 5 second.', e.reason);
                    window.__autoupdate = null;
                    setTimeout(() => init_autoupdate(), 5000);
                };

                window.__autoupdate.socket.onerror = err => {
                    console.error('Error: ', err.message, 'Closing socket');
                window.__autoupdate.socket.close();
                };
            }
        }

        init_autoupdate();
    </script>
</head>

<body style="min-height: 100vh;">
    {{{body}}}
</body>

</html>
